
<div class='panel-body'>
  <div class='row'>
    <div class='col-md-1'>
    </div>
    <div class='col-md-2'>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td><button ng-click="soclogin()"><img src="assets/connect.png" alt="connect"  width="100%" height="75"></button></td>
          </tr>
          <tr>
            <td><img src="assets/fb.png" alt="facebook"  width="100%" height="75"></td>
          </tr>
          <tr>
            <td><img src="assets/twitter.jpg" alt="twitter"  width="100%" height="75"></td>
          </tr>
          <tr>
            <td><img src="assets/linkedin.png" alt="linked in"  width="100%" height="75"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='col-md-1'>
    </div>
    <div class='col-md-5'>
      <div class='row'>
      	<div class='col-md-4'>
      		<img src="assets/fb.png" alt="linked in"  width="100%" height="75">
      		<h4>CONNECT</h4>
      		<h4>DISCONNECT</h4>
      	</div>
      	<div class='col-md-4'>
      		<img src="assets/twitter.jpg" alt="twitter"  width="100%" height="75">
      		<h4>CONNECT</h4>
      		<h4>DISCONNECT</h4>
      	</div>
      	<div class='col-md-4'>
      		<img src="assets/linkedin.png" alt="linked in"  width="100%" height="75">
      		<h4>CONNECT</h4>
      		<h4>DISCONNECT</h4>
      	</div>
      </div>
    </div>
    <div class='col-md-3'>
      
    </div>
  </div>
</div>


